.boton{
    text-align: center;
    color: white;
    background-color: black;
    float: center;
    opacity: .8 ;
    width: 100px;
    height: 50px;
    font-display: arial;
    font-size: 20px;
    border-radius: 25px;
    margin: 6px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.boton:hover{
    background-color: rgb(47, 45, 194); 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.boton:active {
    background-color: #2b56ca;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#main-home, #footer-home, #main-usuarios {
    display: flex;
    justify-content: center;
}

#imagen-biblioteca{
    margin: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
    border: white 4px;
}

body{

    background-color: lightblue;
}

#bienvenida{
    text-align: center;
    font-size: 100px;
}

#seleccion{
    text-align: center;
}

td{
    text-align: center;
    font-size: 20px;
}

#regreso{
    align-content: center;
}


